# 1. Input data

In [4]:
import csv
import matplotlib.pylab as plt
import numpy as np
import pandas as pd
def data(values):
    data = pd.read_csv(values, header = None)
    return data

In [11]:
data_covid = data("us-counties.csv")
data_covid.columns = ['date','country','state','fips','cases','deaths']
data_covid.head(5)

        date    country       state     fips  cases  deaths
0  1/21/2020  Snohomish  Washington  53061.0      1     0.0
1  1/22/2020  Snohomish  Washington  53061.0      1     0.0
2  1/23/2020  Snohomish  Washington  53061.0      1     0.0
3  1/24/2020       Cook    Illinois  17031.0      1     0.0
4  1/24/2020  Snohomish  Washington  53061.0      1     0.0

# Question 1: Code to separate day, month, year from date column

In [16]:
def get_date_info(df):
    df['day'] = df['date'].dt.day
    df['month'] = df['date'].dt.month
    df['year'] = df['date'].dt.year
    return(df)

In [17]:
data_covid['date'] = pd.to_datetime(data_covid['date'])
get_date_info(data_covid)

,date,country,state,fips,cases,deaths,day,month,year
0,2020-01-21,Snohomish,Washington,53061.0,1,0.0,21,1,2020
1,2020-01-22,Snohomish,Washington,53061.0,1,0.0,22,1,2020
2,2020-01-23,Snohomish,Washington,53061.0,1,0.0,23,1,2020
3,2020-01-24,Cook,Illinois,17031.0,1,0.0,24,1,2020
4,2020-01-24,Snohomish,Washington,53061.0,1,0.0,24,1,2020
...,...,...,...,...,...,...,...,...,...
1048570,2021-02-20,Madison,Missouri,29123.0,1342,16.0,20,2,2021
1048571,2021-02-20,Maries,Missouri,29125.0,533,7.0,20,2,2021
1048572,2021-02-20,Marion,Missouri,29127.0,2639,41.0,20,2,2021
1048573,2021-02-20,McDonald,Missouri,29119.0,2434,31.0,20,2,2021
1048574,2021-02-20,Mercer,Missouri,29129.0,177,2.0,20,2,2021

# Question 2: Code min function to define the least number of cases in a year

# Question 3: Code max function to define the most number of cases in a year

# Question 4: Code min function to define the least number of deaths in a year

# Question 5: Code max function to define the most number of deaths in a year

# Question 6: Code mean function to define the average cases in a year

# Question 7: Code mean function to define the average number of deaths in a year

# Question 8: